.clear {
    float: none;
}

body {
    background-image: linear-gradient(#eaeaea, #d6d6d6);
}

.container {
    height: fit-content;
    width: 1500px;
    background-color: #606471;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
    float: left;
    padding-bottom: 60px;

}

.container .heading {
    width: 1400px;
    height: 40px;
    background-color: #eaeaea;
    margin: 0px auto;
    border-radius: 10px;
}

.heading p {
    /* position: absolute; */
    /* margin-top: 10px ; */
    text-align: center;
    font-family: 'Zacbel X', sans-serif;
    font-size: 30px;
    color: #313131
}

.control-panel {
    border: none;

}

.control-panel-buttons {
    display: block;
    margin: 0 auto;
    height: 55PX;
    width: 1400px;
    background-color: #eaeaea;
    margin: 10px 50px 0px;
    border-radius: 10px;
    text-align: center;
}

#previous {
    margin-left: 100px;
    float:left;

}

#next {
    float: right;
    margin-right: 100px;

}
.control-panel p {
    text-align: center;
    font-family: 'Zacbel X', sans-serif;
    font-size: 25px;
    color: #313131;
    float: left;
    margin-left: 437px;
    margin-top: 7px;


}

.control-panel-buttons button {
    border: none;
    height: 35px;
    outline: none;
    background-color: rgba(129, 129, 129, 0.313);
    margin: 2px 15px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Foco Trial', sans-serif;
    font-size: 20px;
    transition: all 0.25s ease-in, border 0s ease-in-out;
    cursor: pointer;
    margin-top: 10PX;

}

.control-panel-buttons input {
    border: none;
    height: 35px;
    outline: none;
    background-color: rgba(129, 129, 129, 0.313);
    border-radius: 10px;
    text-align: center;
    font-family: 'Foco Trial', sans-serif;
    font-size: 20px;
    transition: all 0.25s ease-in, border 0s ease-in-out;
    cursor: pointer;
    margin-top: 10PX;
    float: left;


}

.control-panel-buttons button:hover {
    background-color: #1e1e1ee8;
    color: rgb(238, 234, 234);

}



.discription {
    height: fit-content;
    width: 1360px;
    background-color: #eaeaea;
    margin: 10px 50px 0px;
    border-radius: 10px;
    padding: 5px 20px;
    font-style: justify;
    font-size: 20px;



}
.instructions {
    background-color: #e8e8e8;
    border-radius: 10px;
    z-index: +2;
    filter: drop-shadow(2px 2px 8px rgba(56, 53, 53, 0.315));
    font-family: 'Foco Trial', sans-serif;
    font-size: 19px;
    padding-top: -20px;
    overflow: visible;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 40px;
    left: -300px;
    height: 550px;
    width: 300px;
}

.instructions:hover {
    left: 0px;
}

.insHeading {

    background-color: #afaeae;
    border-radius: 8px;
    margin-right: 0px;
    margin-left: 10px;
    text-align: center;
    margin-top: -10px;
    font-size: 30px;
    height: 40px;
    width: 90%;
}

.steps {
    margin-top: -20px;
    margin-left: 0px;
    margin-right: -5px;
    text-align: left;
    padding-top: 0px;
    border-radius: 10px;
    font-size: 19px;
}

.MyLabel {
    background-color: #111111;
    color: #e8e8e8;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-align: center;
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;

    height: 120px;
    width: 50px;

    position: absolute;
    top: 10px;
    left: 300px;
}